@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import 'tailwindcss';

@import '@fontsource/inter/latin-300.css';
@import '@fontsource/inter/latin-400.css';
@import '@fontsource/inter/latin-600.css';
@import '@fontsource/inter/latin-700.css';
@import '@fontsource/poppins/latin-600.css';

@theme {
  /*Configure your Tailwind theme that will be used by Starlight.*/
  /*https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind*/
  --spacing-108: 27rem;
  --spacing-128: 32rem;
  --spacing-144: 36rem;
  --spacing-160: 40rem;
  --spacing-180: 45rem;
  --spacing-200: 50rem;
  --spacing-256: 64rem;

  --font-sans: 'Inter', 'system-ui', 'sans-serif';
  --font-display: 'Poppins', 'Inter', 'system-ui', 'sans-serif';
  --font-mono: 'monospace';

  /* Glasskube.dev color palette - Accent colors */
  --color-accent-200: #92d1fe;
  --color-accent-600: #0073aa;
  --color-accent-900: #003653;
  --color-accent-950: #00273d;

  /* Glasskube.dev color palette - Gray colors */
  --color-gray-100: #f3f7f9;
  --color-gray-200: #e7eff2;
  --color-gray-300: #bac4c8;
  --color-gray-400: #7b8f96;
  --color-gray-500: #495c62;
  --color-gray-700: #2a3b41;
  --color-gray-800: #182a2f;
  --color-gray-900: #121a1c;
}

/*Add additional Tailwind styles to this file:*/
/*https://tailwindcss.com/docs/adding-custom-styles#using-custom-css*/

@layer distr {
  h1,
  h2,
  h3 {
    font-family: var(--font-display);
  }

  .distr-content {
    --sl-content-gap-y: 0 !important;
  }

  .sl-markdown-content {
    ul,
    ol {
      @apply space-y-1;
      @apply ml-3;
      @apply list-inside;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }
  }
}
