# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build Website

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: '24.11'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install dependencies
        run: pnpm i
      - name: Lint with prettier
        run: pnpm run lint
      - name: Install playwright browser
        run: pnpm exec playwright install --only-shell
      - name: Build website
        run: pnpm run build
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        if: github.ref == 'refs/heads/main'
        with:
          aws-region: eu-central-1
          role-to-assume: arn:aws:iam::639130800065:role/github-actions-distr.sh
      - name: Deploy hashed assets
        if: github.ref == 'refs/heads/main'
        run: >-
          aws s3 sync dist/_astro s3://distr.sh/_astro/
          --cache-control "max-age=31536000, public, immutable"
          --acl=public-read
      - name: Deploy dynamic content
        if: github.ref == 'refs/heads/main'
        run: >-
          aws s3 sync dist s3://distr.sh/
          --cache-control "max-age=60, public, must-revalidate"
          --acl=public-read
      - name: Invalidate cache
        if: github.ref == 'refs/heads/main'
        run: >-
          aws cloudfront create-invalidation
          --distribution-id E1PG5UM7ZE1H97
          --invalidation-batch "Paths={Quantity='1' ,Items=['/*']},CallerReference=WEBSITE_$GITHUB_RUN_ID"
